<%- include('partials/header') %>
<div class="logo">
  <img src="img/short_logo.png" alt="" />
  <h2>Parrot Secrets</h2>
</div>
<div class="container-fluid col-md-6 col-lg-4">
  <form action="/register" method="POST">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Username"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="form-btn">
      <button type="submit" class="login-btn btn btn-dark btn-wide">
        Signup
      </button>
      <a
        class="social-btn btn btn-block btn-social btn-facebook text-center"
        href="/auth/facebook"
        role="button"
      >
        <i class="fab fa-facebook"></i>
        Signup with Facebook
      </a>
    </div>
    <div class="link-btn mt-2 text-center">
      <a class="btn btn-link" href="/login">
        Already have an account? Log In
      </a>
    </div>
    <% if(error != "") { %>
    <div class="alert alert-danger mt-3 text-center" role="alert">
      <%= error %>
    </div>
    <% } %>
  </form>
</div>

<%- include('partials/footer') %>
