<%- include('partials/header') %>

<div class="header">
  <div class="short-logo">
    <img src="img/short_logo.png" alt="logo" />
    <%if(isAuth){%>
    <p class="header-title">Secrets Wall</p>
    <% } else {%>
    <p class="header-title">Random Secrets</p>
    <% }%>
  </div>
  <% if(isAuth){ %>
  <div class="menu">
    <div class="label-menu">
      <div class="label-menu-items">
        <a href="/">
          Home
        </a>
      </div>
      <div class="label-menu-items">
        <a href="/submit">
          Submit a secret
        </a>
      </div>
      <div class="label-menu-items">
        <a href="/user">
          My Account
        </a>
      </div>
    </div>
    <div class="btn btn-outline-danger my-2 my-sm-0 logout-btn bg-light ">
      <a class="text-danger text-decoration-none" href="/logout">Logout</a>
    </div>
    <%} else {%>
    <div class="btn btn-primary my-2 my-sm-0 login-btn-blue">
      <a class="text-light text-decoration-none btn-sm log-btn" href="/login"
        >Login</a
      >
    </div>
    <%}%>
  </div>
</div>
<div class="separator"></div>

<div class="container-secrets container-fluid  mx-auto">
  <%if(showSecrets.length === 0 && isAuth === false ) {%>
  <p class="mx-auto mt-2 text-center">
    Not enough secrets to pick one .. Please login to post a secret
  </p>
  <% }%> <%if(isAuth){%> <%if(showSecrets.length != 0){%>
  <%showSecrets.forEach(secret => { %>
  <div class="row feed-row">
    <div class="col-md-8 col-lg-6 mx-auto feed-card">
      <div class="feed-card-item">
        <p><%=secret.content%></p>
      </div>
    </div>
  </div>
  <%}); } else { %>

  <p class="mx-auto mt-2 text-center">There is no secrets on the wall</p>

  <%} } else { %> <% showSecrets.forEach(secret => { %>
  <div class="row feed-row">
    <div class="col-md-8 col-lg-6 mx-auto feed-card">
      <div class="feed-card-item">
        <p><%=secret.content%></p>
      </div>
    </div>
  </div>
  <%}); } %>
</div>

<% if(isAuth){ %>
<div class="menu-tab">
  <div class="menu-tab-items">
    <a href="/user">
      <i class="far fa-user"></i>
    </a>
  </div>
  <div class="menu-tab-items">
    <a href="/">
      <i class="fas fa-home"></i>
    </a>
  </div>
  <div class="menu-tab-items">
    <a href="/submit">
      <i class="far fa-edit"></i>
    </a>
  </div>
</div>
<% } %>
<div class="bottom-separator"></div>
<%- include('partials/footer') %>
