:root {
  --main-blue: #0b8cbc;
  --grey-blue: #374955;
  --light-grey: #9baebc;
  --sec-orange: #ff9100;

  --sec-blue: rgb(89, 60, 212);

  --rgba-dark: rgba(0, 0, 0, 0.5);
  --rgba-blue: rgba(89, 60, 212, 0.5);

  --blue: #3155a1;
  /* --blue: #4328b5; */
  --white: #f3f3f3f3;
  --orange: #f44b24;
  --yellow: #fdd644;

  --small: 14px;
  --medium: 18px;
  --large: 24px;
  --x-large: 34px;

  --bottom-left: 0% 100% 0% 100% / 54% 0% 100% 46%;
}

/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Hind+Madurai|Lora|Montserrat&display=swap");

/*
 
font-family: 'Montserrat', sans-serif;
font-family: 'Lora', serif;
font-family: 'Hind Madurai', sans-serif; 

*/
